@font-face {
    font-family: Colus;
    src: url(assets/fonts/Colus/Colus-Regular.ttf);;
}

@font-face {
    font-family: AlienDouble;
    src: url(assets/fonts/alien_double.ttf);
}

@font-face {
    font-family: SaintGeorge;
    src: url(assets/fonts/SaintGeorge-LowercaseStencil.otf);
}

@font-face {
    font-family: AmagroBold;
    src: url(assets/fonts/amagro/Amagro-bold.ttf);
}

@font-face {
    font-family: Iceland;
    src: url(assets/fonts/Iceland/Iceland-Regular.ttf);
}

@font-face {
    font-family: Uni;
    src: url(assets/fonts/uni0553/uni0553/uni0553-webfont.ttf);
}

@font-face {
    font-family: Sofachrome;
    src: url(assets/fonts/sofachrome/sofachromerg.ttf);
}

@font-face {
    font-family: Silkscreen;
    src: url(assets/fonts/Silkscreen/slkscr.ttf);
}

@font-face {
    font-family: BigFont;
    src: url(assets/fonts/Myfonts/HouseOfBurvo.otf);
}

@font-face {
    font-family: cool;
    src: url(assets/fonts/KarmaticArcade.otf);
}

@font-face {
    font-family: 'Blocked';
    src: url('assets/fonts/transfonter.org-20200316-213403/Blocked.eot');
    src: url('assets/fonts/transfonter.org-20200316-213403/Blocked.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/transfonter.org-20200316-213403/Blocked.woff2') format('woff2'),
        url('assets/fonts/transfonter.org-20200316-213403/Blocked.woff') format('woff'),
        url('assets/fonts/transfonter.org-20200316-213403/Blocked.ttf') format('truetype'),
        url('assets/fonts/transfonter.org-20200316-213403/Blocked.svg#Blocked') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;    
    font-family: 'Iceland';
    display: flex;
    flex-direction: column;
}

.intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.GameName {
    color: aa703c;
    font-family: 'Blocked';
    font-weight: normal;
    font-style: normal;
    font-size: 20vw;
}

.GameObj {
    display: flex;
}

.mtt {
    /* padding-left: 1vw;
    padding-right: 8vw;
    writing-mode: vertical-rl;
    text-orientation: mixed; */
    font-size: 5vw;
    display: flex;
    justify-content: center;
}


/* This section configures the horizonal scrolling*/
.wrapper {
    /* display: flex;
    flex-direction: row; */
    width: auto;
    /* transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;  */    
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Horizontal Scroll: slides config */
.slide {
    width: 100vw;
    height: 100vh;
}

.one {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamPic {
    padding-left: 5vw;
    height: 40vw;
}

.desc {
    font-size: 3vw;
    padding-left: 10vw;
    padding-right: 5vw;
}

.team {
    display:flex;
    flex-direction: column;
    padding-top: 15vh;
}

.teamDesc {
    width: 100vw;
    height: auto;
    margin-bottom: 10vh;
    display:flex;
    align-items: center;
    
    /* flex-direction: column; */

}

.two {
    background: rgb(0, 0, 0);
    height: auto;
}


.four {
    background-color: white;
    height: auto;
}

.title {
    height: 30vw;
}
